html {
  box-sizing: border-box;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

html,
body
{
  height: 100%;
  padding: 0;
  border: none;
  margin: 0;
}

.app-container {
  display: flex;
  height: 100%;
}

.app-root {
  display: flex;
  flex: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}
